<?xml version="1.0" encoding="UTF-8" ?>
<phpunit
    colors="true"
    bootstrap="./vendor/autoload.php"
>
    <testsuites>
        <testsuite name="Testes unitários do sistema">
            <directory>./tests/Unit</directory>
        </testsuite>
        <testsuite name="Testes integrados do sistema">
            <directory>./tests/Integration</directory>
        </testsuite>
    </testsuites>
</phpunit>